# object and binary files
*.o
*.bin

# ISO images and build directories
*.iso
isodir/

# IDE or editor-specific files
.vscode/
.idea/
*.swp
compile_commands.json
*.clangd


# Combined code text file
combined_code.txt
